Repository gutierrpdev/gift-plus-plus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

build-frontend:
  stage: build
  services:
  - docker:dind
  variables:
    NODE_ENV: staging
    BABEL_ENV: production
  script:
  - docker build --pull --build-arg NODE_ENV --build-arg BABEL_ENV --target=app --tag $APP_IMAGE -f ./app/Dockerfile ./app
  ...

deploy-frontend-to-staging:
  stage: deploy
  image: alpine
  before_script:
  - apk --no-cache add openssh-client
  script:
  - echo "Deploying to staging..."
  - echo "$STAGING_DEPLOY_KEY" > deploy-key
  - chmod 600 deploy-key
  - mkdir ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H staging.gift.blasttheory.com >> ~/.ssh/known_hosts
  ...

build-backend:
  stage: build
  services:
  - docker:dind
  script:
  - docker build --pull --target=build --tag $API_TEST_IMAGE -f ./api/Dockerfile ./api
  - docker build --pull --target=release --tag $API_RELEASE_IMAGE -f ./api/Dockerfile ./api
  - docker tag $API_TEST_IMAGE $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
  ...

lint-backend:
  stage: test
  script:
  - docker pull $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
  - docker run --rm $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA yarn lint

test-backend:
  stage: test
  script:
  - docker pull $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
  - docker run --rm $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA yarn test

release-backend:
  stage: release
  script:
  - docker pull $API_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA
  - docker tag $API_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA $API_RELEASE_IMAGE:latest
  - docker push $API_RELEASE_IMAGE:latest

Updates storybook panel test buttons
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Refactors panels and panel manager idea
  app/src/components/panel-manager.tsx
  app/src/components/panel.tsx
  app/src/components/receiving/choose-location.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/intro-content.tsx
  app/src/components/receiving/panels/choose-location.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/receiving-part-1.tsx
  app/src/components/receiving/test.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Sets tslint jsx-no-multiline-js to false for more relaxed JSX within JS
  app/tslint.json
Due: build-frontend, deploy-frontend-to-staging

Adds initial WaitThen component
  app/src/components/wait-then.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds content sections for gift receiving
  app/src/components/audio-player.tsx
  app/src/components/buttons.tsx
  app/src/components/panel-image-reveal.tsx
  app/src/components/panel-image.tsx
  app/src/components/panel-round.tsx
  app/src/components/panel.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/panels/choose-location.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/receiving/receiving-part-1.tsx
  app/src/components/receiving/receiving-part-2.tsx
  app/src/components/receiving/receiving-part-3.tsx
  app/stories/fixtures.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds more functionality to receiving a gift
  app/src/components/panel-image-reveal.tsx
  app/src/components/panel.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/wait-then.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds GoToEnd forward button option to audio player
  app/src/assets/svg/button-audio-skip.svg
  app/src/components/audio-player.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds moving to next gift when current one complete
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/screens/receive-gift.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds vertical bar to the audio player position indicator
  app/src/components/progress-bar.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds primary option to buttons
  app/src/components/buttons.tsx
  app/src/components/receiving/panels/choose-location.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Ibidsssss
  app/src/screens/receive-gift-wip.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds browser validation to api responses.
  api/package.json
  api/yarn.lock
  app/package.json
  app/src/services/api.ts
  app/src/utils/helpers.ts
  app/yarn.lock
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Creates a shared common interface between api and app
  api/migrations/20190210172822-gift.ts
  api/src/api/routes/gift.ts
  api/src/common
  app/src/common
  app/src/main.tsx
  app/src/screens/receive-gift-wip.tsx
  app/src/services/api.ts
  app/src/utils/helpers.ts
  common/schema.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Does some basic preloading stuff
  app/src/screens/receive-gift-wip.tsx
  app/src/services/api.ts
  app/src/utils/helpers.ts
  common/schema.ts
Due: build-frontend, deploy-frontend-to-staging

Adds a bit of logging stuff
  app/package.json
  app/src/screens/receive-gift-wip.tsx
  app/src/utils/helpers.ts
  app/src/utils/logging.ts
  app/yarn.lock
Due: build-frontend, deploy-frontend-to-staging

adds preloading of assets with progress
  api/src/api/routes/gift.ts
  app/package.json
  app/src/screens/receive-gift-wip.tsx
  app/src/services/api.ts
  app/src/utils/helpers.ts
  app/src/utils/use-async.ts
  app/src/utils/use-preload.ts
  app/tsconfig.json
  app/yarn.lock
  common/api-schema.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Tests gluing the loader + gift-component together
  app/src/main.tsx
  app/src/screens/receive-gift-wip.tsx
  app/src/screens/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Updated audio parts
  app/src/components/receiving/panels/part-content.tsx
  app/stories/fixtures.ts
Due: build-frontend, deploy-frontend-to-staging

Adds `common` folder to CI files to rebuild on
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Adds a little docs
  app/src/screens/receive-gift-wip.tsx
  app/src/utils/use-preload.ts
Due: build-frontend, deploy-frontend-to-staging

Gradient added
  app/src/components/receiving/gift-part-wrapper.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Gradient added
  app/src/components/gradient.tsx
Due: build-frontend, deploy-frontend-to-staging

Converts components to functional
  app/src/components/progress-bar.tsx
  app/src/components/screen-logo.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes title background colour
  app/src/components/receiving/gift-part-wrapper.tsx
Due: build-frontend, deploy-frontend-to-staging

Checks gift part is selected before re-selecting
  app/src/components/receiving/gift-parts-manager.tsx
Due: build-frontend, deploy-frontend-to-staging

Improves audio player progress bar
  app/src/components/audio-player.tsx
  app/src/components/progress-bar.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes button drop shadow
  app/src/components/buttons.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes flex issue on Safari
  app/src/components/panel.tsx
Due: build-frontend, deploy-frontend-to-staging

Temp ProgressBar seek
  app/src/components/audio-player.tsx
  app/src/components/progress-bar.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds AudioRecorder component Adds Reply to Gift section (incomplete)
  app/src/assets/svg/button-audio-record.svg
  app/src/components/accordion-title.tsx
  app/src/components/audio-player.tsx
  app/src/components/audio-recorder.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/receive-reply.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

temporarily adds hardcoded gift
  api/src/lib/services/gift.ts
Due: build-backend, lint-backend, test-backend, release-backend

Switching to using mocks in frontend
  api/src/lib/services/gift.ts
  app/src/services/api.ts
  app/src/services/mock.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Merges and renames ReceiveGiftWip to screen with separate component
  app/src/components/receiving/receive-gift.tsx
  app/src/main.tsx
  app/src/screens/receive-gift-wip.tsx
  app/src/screens/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Milestone updates
  docs/milestones.org
Due: none

Trys to fix docker builds in CI with symlinks
  .gitlab-ci.yml
  api/.gitignore
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

ibid
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Fixes some UI issues and moves choose location to correct position in the process
  app/src/components/receiving/panels/choose-location.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/receiving/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes IE11 from targeted platforms
  docs/device-targets.org
Due: none

bumps styled-components version
  app/package.json
  app/yarn.lock
Due: build-frontend, deploy-frontend-to-staging

Changes doComplete to onComplete Adds missing files
  app/src/components/panel.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Path conditions:
  build-frontend: any of: .gitlab-ci.yml, app/**/*
  deploy-frontend-to-staging: any of: .gitlab-ci.yml, app/**/*
  build-backend: any of: .gitlab-ci.yml, api/**/*
  lint-backend: any of: .gitlab-ci.yml, api/**/*
  test-backend: any of: .gitlab-ci.yml, api/**/*
  release-backend: any of: .gitlab-ci.yml, api/**/*
