Repository gutierrpdev/gift-plus-plus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

build-frontend:
  stage: build
  services:
  - docker:dind
  variables:
    NODE_ENV: staging
    BABEL_ENV: production
  script:
  - cd app
  - tar -cz --dereference --exclude-ignore=.dockerignore . | docker build --pull --build-arg NODE_ENV --build-arg BABEL_ENV --target=app --tag $APP_IMAGE -
  ...

deploy-frontend-to-staging:
  stage: deploy
  image: alpine
  before_script:
  - apk --no-cache add openssh-client
  script:
  - echo "Deploying to staging..."
  - echo "$STAGING_DEPLOY_KEY" > deploy-key
  - chmod 600 deploy-key
  - mkdir ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H staging.gift.blasttheory.com >> ~/.ssh/known_hosts
  ...

build-backend:
  stage: build
  services:
  - docker:dind
  script:
  - cd api
  - tar -cz --dereference --exclude-ignore=.dockerignore . | docker build --pull --target=build --tag $API_TEST_IMAGE -
  - tar -cz --dereference --exclude-ignore=.dockerignore . | docker build --pull --target=release --tag $API_RELEASE_IMAGE -
  ...

lint-backend:
  stage: test
  services:
  - docker:dind
  script:
  - docker pull $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
  - docker run --rm $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA yarn lint

test-backend:
  stage: test
  services:
  - docker:dind
  script:
  - docker pull $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
  - docker run --rm $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA yarn test

release-backend:
  stage: release
  services:
  - docker:dind
  script:
  - docker pull $API_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA
  - docker tag $API_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA $API_RELEASE_IMAGE:latest
  - docker push $API_RELEASE_IMAGE:latest

deploy-backend-to-staging:
  stage: deploy
  image: alpine
  before_script:
  - apk --no-cache add openssh-client
  script:
  - echo "Deploying to staging..."
  - echo "$STAGING_DEPLOY_KEY" > deploy-key
  - chmod 600 deploy-key
  - mkdir ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H staging.gift.blasttheory.com >> ~/.ssh/known_hosts
  ...

Adds click prompt/icon to advance to next section, creating
  app/src/components/creating/intro.tsx
  app/src/components/creating/part-content.tsx
  app/src/components/panel-prompt.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds click prompt/icon to advance to next section, receiving
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Improves text used to open next gift part
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Some milestone stuff
  docs/milestones.org
Due: none

Updates milestones
  docs/milestones.org
Due: none

Adds local and session storage
  app/src/utils/local.ts
  app/src/utils/storage.ts
Due: build-frontend, deploy-frontend-to-staging

Adds route doc
  docs/routes.org
Due: none

Refactors home page with recording of local and session state
  app/src/components/choose-location.tsx
  app/src/components/home/home-intro.tsx
  app/src/components/home/menu.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/receiving/receive-gift.tsx
  app/src/main.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes Sign-in from menu
  app/src/components/home/menu.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes unused reference
  app/src/components/page-change-detect.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes SignIn functionality
  app/src/components/home/menu.tsx
  app/src/components/screen-header.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds initial event tracking
  app/src/components/gift-pile.tsx
  app/src/domain.ts
  app/src/utils/events/definitions.ts
  app/src/utils/events/index.ts
Due: build-frontend, deploy-frontend-to-staging

Adds more event tracking
  app/src/components/creating/create-gift.tsx
  app/src/components/creating/part-content.tsx
  app/src/components/receiving/receive-gift.tsx
  app/src/screens/create-gift.tsx
  app/src/utils/events/definitions.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Hack around ffmpeg hanging timer when testing
  api/src/lib/index.ts
  api/src/lib/services/transcode.ts
  api/test/lib.transcode.ts
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds audio transcoding via ffmpeg
  api/README.md
  api/package.json
  api/src/lib/index.ts
  api/src/lib/services/storage.ts
  api/src/lib/services/transcode.ts
  api/test/fixtures/audio/2-seconds-of-silence-ogg-opus.ogg
  api/test/fixtures/audio/2-seconds-of-silence-ogg-vorbis.ogg
  api/test/fixtures/audio/2-seconds-of-silence-wav.wav
  api/test/fixtures/audio/2-seconds-of-silence-webm-opus.webm
  api/test/fixtures/audio/2-seconds-of-silence-webm-vorbis.webm
  api/test/lib.transcode.ts
  api/yarn.lock
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds better storage uploady downloady stuff
  api/package.json
  api/src/lib/services/storage.ts
  api/yarn.lock
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds transcoding deps to dockerfile
  api/Dockerfile
  api/README.md
  app/Dockerfile
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds image transcoding and some storage upload stuff
  api/README.md
  api/src/lib/services/storage.ts
  api/src/lib/services/transcode.ts
  api/test/fixtures/images/black.bmp
  api/test/fixtures/images/black.gif
  api/test/fixtures/images/black.jpg
  api/test/fixtures/images/black.png
  api/test/lib.transcode.ts
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds API for dealing with prepared-uploads
  api/src/api/routes/gift.ts
  api/src/api/routes/index.ts
  api/src/api/routes/prepared-upload.ts
  api/src/lib/services/account.ts
  api/src/lib/services/storage.ts
  api/src/util-libs/prelude.ts
  api/test/api.gift.ts
  api/test/api.prepared-upload.ts
  api/test/index.ts
  api/test/lib.transcode.ts
  app/src/services/api.ts
  common/api-schema.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Creates s3 storage service
  api/example.env
  api/package.json
  api/src/api/routes/gift.ts
  api/src/config.ts
  api/src/lib/index.ts
  api/src/lib/services/storage.ts
  api/test/index.ts
  api/yarn.lock
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Wips on asset transcoding when creating gift
  api/src/api/routes/gift.ts
  api/src/lib/services/gift.ts
  api/src/lib/services/storage.ts
  common/api-schema.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Splits saving/sharing out from the gift-signing stuff
  app/src/components/creating/create-gift.tsx
  app/src/components/creating/save-gift.tsx
  app/src/components/creating/share-gift.tsx
  app/src/components/creating/sign-gift.tsx
  app/src/components/share-gift.tsx
  app/src/domain.ts
  app/src/screens/create-gift.tsx
  app/src/utils/helpers.ts
  app/stories/fixtures.ts
  app/stories/index.tsx
  docs/milestones.org
Due: build-frontend, deploy-frontend-to-staging

TEMP: Skip failing api tests
  api/test/api.gift.ts
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds a little config
  deployment/docker-stack-staging.yaml
Due: none

Adds more event tracking
  app/src/components/audio-player.tsx
  app/src/components/creating/choose-recipient.tsx
  app/src/components/creating/create-gift.tsx
  app/src/components/creating/part-content.tsx
  app/src/components/creating/record-and-playback.tsx
  app/src/components/creating/save-gift.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/receiving/receive-gift.tsx
  app/src/components/receiving/receive-reply.tsx
  app/src/utils/events/definitions.ts
  app/src/utils/events/index.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes panel.visible todo
  app/src/components/choose-location.tsx
  app/src/components/panel.tsx
  app/src/components/receiving/open-gift.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes progress bar unused code
  app/src/components/progress-bar.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes and addresses todos
  app/src/components/receiving/open-gift.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds device info to device target doc
  docs/device-targets.org
Due: none

Improve home intro section and storing of what user has seen
  app/src/components/home/home-intro.tsx
  app/src/utils/local.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes console
  app/src/components/home/home-intro.tsx
Due: build-frontend, deploy-frontend-to-staging

Sets example gift 2 to Museum Gift
  app/src/components/home/home-gifts.tsx
  app/src/services/mock.ts
Due: build-frontend, deploy-frontend-to-staging

Updates Brighton Museum references
  app/src/components/home/home-intro.tsx
  app/src/screens/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates receive header to exclude museum name if a from museum gift
  app/src/components/receiving/receive-gift.tsx
  app/src/services/mock.ts
Due: build-frontend, deploy-frontend-to-staging

Updates receiving intro audio to play for different scenarios Corrects InProgressGift to Gift
  app/src/components/receiving/panels/intro-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds receiving outro Adds more event tracking
  app/src/assets/audio/r-outro-local.mp3
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/outro-content.tsx
  app/src/utils/events/definitions.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes red dot from "you've got a new gift"
  app/src/components/home/home-intro.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes dotted border from panel
  app/src/components/panel-round.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes issue with Home -> 'Are you at museum?' causing multiple state updates and not loading next screen
  app/src/components/home/home-intro.tsx
Due: build-frontend, deploy-frontend-to-staging

Corrects spacing
  app/src/components/home/home-intro.tsx
Due: build-frontend, deploy-frontend-to-staging

Path conditions:
  build-frontend: any of: .gitlab-ci.yml, app/**/*, common/**/*
  deploy-frontend-to-staging: any of: .gitlab-ci.yml, app/**/*, common/**/*
  build-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  lint-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  test-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  release-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  deploy-backend-to-staging: any of: .gitlab-ci.yml, api/**/*, common/**/*
