Repository gutierrpdev/gift-plus-plus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Path conditions:
  build-frontend: any of: .gitlab-ci.yml, app/**/*, common/**/*
  deploy-frontend-to-staging: any of: .gitlab-ci.yml, app/**/*, common/**/*
  build-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  lint-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  test-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  release-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  deploy-backend-to-staging: any of: .gitlab-ci.yml, api/**/*, common/**/*

Does some deployment config for demo app
  deployment/docker-stack-production.yaml
Due: none

[#215] Alters home-page copy for demo gift
  app/src/components/home/home-gifts.tsx
Due: build-frontend, deploy-frontend-to-staging

Puts in backup feedbackUrl for demo gift
  app/src/data.ts
Due: build-frontend, deploy-frontend-to-staging

[#218] Adds ability to have different Accept-Terms text for demo app
  app/src/components/modals/terms-modal.tsx
  app/src/components/screen-header.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

[#219] Enables ask-for-feedback copy to be overridden
  app/src/components/modals/feedback-modal.tsx
  app/src/data.ts
  app/src/domain.ts
  app/src/screens/home.tsx
Due: build-frontend, deploy-frontend-to-staging

Ensures traefik doesn't update to unsupported version
  deployment/docker-stack-production.yaml
  deployment/docker-stack-staging.yaml
Due: none

Adds deployment for demo app
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Updates README to include info on getting started and customisation
  README.org
  api/README.md
  api/example.env
  docs/core-concepts.org
  docs/device-targets.org
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Remove "Experience" from the "GIFT Experience"
  README.org
Due: none

Update terms-modal.tsx
  app/src/components/modals/terms-modal.tsx
Due: build-frontend, deploy-frontend-to-staging

Update data.ts
  app/src/data.ts
Due: build-frontend, deploy-frontend-to-staging

Update terms-modal.tsx to include custom links for demo version
  app/src/components/modals/terms-modal.tsx
Due: build-frontend, deploy-frontend-to-staging

Update feedback-modal.tsx
  app/src/components/modals/feedback-modal.tsx
Due: build-frontend, deploy-frontend-to-staging

Update help-munch.tsx
  app/src/components/information/help/help-munch.tsx
Due: build-frontend, deploy-frontend-to-staging

Update help-demo.tsx
  app/src/components/information/help/help-demo.tsx
Due: build-frontend, deploy-frontend-to-staging

Add exception to max-line-length linting in terms-modal.tsx
  app/src/components/modals/terms-modal.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates Munch prepared gift
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

Updates README to include linux requirement
  README.org
Due: none

Adds basic setup for the Museum of Applied Art
  app/src/components/audio-transcription/c-choose-part-1/index.tsx
  app/src/components/audio-transcription/c-choose-part-2/index.tsx
  app/src/components/audio-transcription/c-choose-part-3/index.tsx
  app/src/components/audio-transcription/c-let-them-know-part-1/index.tsx
  app/src/components/audio-transcription/c-let-them-know-part-2/index.tsx
  app/src/components/audio-transcription/c-let-them-know-part-3/index.tsx
  app/src/components/audio-transcription/c-share/index.tsx
  app/src/components/audio-transcription/c-start-gift/index.tsx
  app/src/components/audio-transcription/r-intro-content-local-museum/index.tsx
  app/src/components/audio-transcription/r-intro-content-local-personal/index.tsx
  app/src/components/audio-transcription/r-intro-content-remote-museum/index.tsx
  app/src/components/audio-transcription/r-intro-content-remote-personal/index.tsx
  app/src/components/audio-transcription/r-outro-local-museum/index.tsx
  app/src/components/audio-transcription/r-outro-local-personal/index.tsx
  app/src/components/audio-transcription/r-outro-remote-museum/index.tsx
  app/src/components/audio-transcription/r-outro-remote-personal/index.tsx
  app/src/components/background-svg.tsx
  app/src/components/home/home-gifts.tsx
  app/src/components/information/help/help-mpu.tsx
  app/src/components/information/help/index.tsx
  app/src/components/information/terms/index.tsx
  app/src/components/information/terms/terms-mpu.tsx
  app/src/config.ts
  app/src/data.ts
  app/src/domain.ts
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

Update CI to account for latest docker build image
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds some deployment config for MPU
  deployment/docker-stack-production.yaml
Due: none

[MPU] Update premade (museum) gift for MPU
  app/src/data.ts
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

[MPU] Ensure app mpu-version deploys during CI
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Update help-mpu.tsx
  app/src/components/information/help/help-mpu.tsx
Due: build-frontend, deploy-frontend-to-staging

[MPU] Change the mpu audio assets back to the demo versions
  app/src/data.ts
Due: build-frontend, deploy-frontend-to-staging

Increase spacing around top-text on the accept t&c popup
  app/src/components/modals/terms-modal.tsx
Due: build-frontend, deploy-frontend-to-staging

[MPU] Updates assets for prepared gift
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

[FIX] Whoops, json DB columns were meant to be jsonb
  api/migrations/20190210172822-gift.ts
  api/migrations/201905291919-event.ts
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Update mlp prepared gift clues
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

[INFRA] Redirect thegift.app to blasttheory project page
  deployment/docker-stack-production.yaml
Due: none

[COPY] Fixes links to gifting.digital and add extra info to README
  README.org
  app/src/components/information/help/help-brighton.tsx
  app/src/components/information/help/help-demo.tsx
  app/src/components/information/help/help-mpu.tsx
  app/src/components/information/help/help-munch.tsx
Due: build-frontend, deploy-frontend-to-staging

[COPY] Typo
  README.org
Due: none

[DEPLOYMENT] Redirects munchgift.com to project-page
  deployment/docker-stack-production.yaml
Due: none

Update device-targets.org
  docs/device-targets.org
Due: none

[DOCS] Add some details about how to configure s3 for asset storage
  README.org
  api/README.md
  docs/gift-bucket-permissions.png
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging
