Repository gutierrpdev/gift-plus-plus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

.gitlab-ci.yml:

image: docker:stable

stages:
  - build
  - test
  - release
  - deploy

variables:
  APP_IMAGE: registry.gitlab.com/blasttheory/gift/gift-app
  STORYBOOK_IMAGE: registry.gitlab.com/blasttheory/gift/gift-storybook
  API_TEST_IMAGE: registry.gitlab.com/blasttheory/gift/gift-api/test
  API_RELEASE_IMAGE: registry.gitlab.com/blasttheory/gift/gift-api/release

before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com


# ========
# FRONTEND
# ========

build-frontend:
  stage: build
  services:
    - docker:dind
  variables:
    NODE_ENV: staging
    BABEL_ENV: production
  script:
    # Build the projects
    - docker build --pull --build-arg NODE_ENV --build-arg BABEL_ENV --target=app --tag $APP_IMAGE -f ./app/Dockerfile ./app
    - docker build --pull --build-arg NODE_ENV --build-arg BABEL_ENV --target=storybook --tag $STORYBOOK_IMAGE -f ./app/Dockerfile ./app

    # Push new images to registry
    - docker tag $APP_IMAGE $APP_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $STORYBOOK_IMAGE $STORYBOOK_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $APP_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $STORYBOOK_IMAGE:$CI_COMMIT_SHORT_SHA

    # Tag the images for release (should be done only after tests have passed)
    - docker tag $APP_IMAGE $APP_IMAGE:latest
    - docker tag $STORYBOOK_IMAGE $STORYBOOK_IMAGE:latest
    - docker push $APP_IMAGE:latest
    - docker push $STORYBOOK_IMAGE:latest
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - app/**/*


deploy-frontend-to-staging:
  stage: deploy
  image: alpine
  before_script:
    - apk --no-cache add openssh-client
  script:
    - echo "Deploying to staging..."
    - echo "$STAGING_DEPLOY_KEY" > deploy-key
    - chmod 600 deploy-key
    - mkdir ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H staging.gift.blasttheory.com >> ~/.ssh/known_hosts
    - ssh -i deploy-key root@staging.gift.blasttheory.com -C docker service update gift-app --image $APP_IMAGE:$CI_COMMIT_SHORT_SHA
    - ssh -i deploy-key root@staging.gift.blasttheory.com -C docker service update gift-storybook --image $STORYBOOK_IMAGE:$CI_COMMIT_SHORT_SHA
  environment:
    name: staging
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - app/**/*


# =======
# BACKEND
# =======

build-backend:
  stage: build
  services:
    - docker:dind
  script:
    # Build the projects
    - docker build --pull --target=build --tag $API_TEST_IMAGE -f ./api/Dockerfile ./api
    - docker build --pull --target=release --tag $API_RELEASE_IMAGE -f ./api/Dockerfile ./api

    # Push new images to registry
    - docker tag $API_TEST_IMAGE $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $API_RELEASE_IMAGE $API_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $APP_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $APP_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - api/**/*

lint-backend:
  stage: test
  script:
    - docker pull $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker run --rm $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA yarn lint
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - api/**/*

test-backend:
  stage: test
  script:
    - docker pull $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker run --rm $API_TEST_IMAGE:$CI_COMMIT_SHORT_SHA yarn test
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - api/**/*

release-backend:
  stage: release
  script:
    - docker pull $API_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $API_RELEASE_IMAGE:$CI_COMMIT_SHORT_SHA $API_RELEASE_IMAGE:latest
    - docker push $API_RELEASE_IMAGE:latest
  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - api/**/*

Ibid
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Gift part display wip
  app/src/components/GiftPartWrapper.tsx
  app/src/components/GiftPartsManager.tsx
  app/src/components/Panel.tsx
  app/src/components/PanelManager.tsx
  app/src/components/PanelPrompt.tsx
  app/src/components/ScreenLogo.tsx
  app/src/components/ScreenTitle.tsx
  app/src/components/panels/test/SimplePanel.tsx
  app/src/domain.ts
  app/src/serviceWorker.ts
  app/src/themes/global.ts
  app/stories/fixtures.ts
  app/stories/index.tsx
  app/tslint.json
Due: build-frontend, deploy-frontend-to-staging

Typecheck cleanup
  app/src/components/GiftPartWrapper.tsx
  app/src/serviceWorker.ts
Due: build-frontend, deploy-frontend-to-staging

Tidy up
  app/src/components/GiftPartWrapper.tsx
  app/src/components/Panel.tsx
  app/stories/index.tsx
  app/stories/test/TestPanelManager.tsx
Due: build-frontend, deploy-frontend-to-staging

API deployment stuffs
  .gitlab-ci.yml
  deployment/stack-staging.yaml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Adds tls stuffs to staging deployment
  deployment/docker-stack-staging.yaml
  deployment/traefik.toml
  docs/milestones.org
Due: none

Audio player wip
  app/src/assets/svg/button-audio-back.svg
  app/src/assets/svg/button-audio-forward.svg
  app/src/assets/svg/button-audio-pause.svg
  app/src/assets/svg/button-audio-play.svg
  app/src/components/AudioPlayer.tsx
  app/src/components/GiftPartWrapper.tsx
  app/src/components/ProgressBar.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Audioplayer wip
  app/src/components/AudioPlayer.tsx
Due: build-frontend, deploy-frontend-to-staging

AudioPlayer v1
  app/src/components/AudioPlayer.tsx
Due: build-frontend, deploy-frontend-to-staging

Prevents CI attempting to deploy backend when only frontend changed
  .gitlab-ci.yml
  deployment/docker-stack-staging.yaml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

AudioPlayer improvements
  app/src/components/AudioPlayer.tsx
  app/src/components/PanelPrompt.tsx
  app/src/themes/global.ts
Due: build-frontend, deploy-frontend-to-staging

Component wip
  app/src/components/Button.tsx
  app/src/components/GiftPartWrapper.tsx
  app/src/components/Panel.tsx
  app/src/components/PanelManager.tsx
  app/src/components/PanelText.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Gift wip
  app/src/components/AudioPlayer.tsx
  app/src/components/Button.tsx
  app/src/components/PanelPrompt.tsx
  app/src/components/PanelText.tsx
  app/src/themes/global.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Sizing improvments
  app/src/components/AudioPlayer.tsx
  app/src/components/Button.tsx
  app/src/components/GiftPartWrapper.tsx
  app/src/components/PanelPrompt.tsx
  app/src/components/PanelText.tsx
  app/src/components/ProgressBar.tsx
  app/src/themes/global.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Tidy up Remove default exports
  app/src/components/AudioPlayer.tsx
  app/src/components/GiftPartWrapper.tsx
  app/src/components/GiftPartsManager.tsx
  app/src/components/GiftPile.tsx
  app/src/components/Overlay.tsx
  app/src/components/Panel.tsx
  app/src/components/PanelManager.tsx
  app/src/components/PanelPrompt.tsx
  app/src/components/PanelText.tsx
  app/src/components/PanelTitle.tsx
  app/src/components/ProgressBar.tsx
  app/src/components/ScreenHeader.tsx
  app/src/components/ScreenLogo.tsx
  app/src/components/ScreenManager.tsx
  app/src/components/ScreenSubTitle.tsx
  app/src/components/ScreenTitle.tsx
  app/src/components/buttons.tsx
  app/src/screens/CreateGift.tsx
  app/src/screens/Home.tsx
  app/src/screens/ReceiveGift.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Better progress bar
  app/src/components/ProgressBar.tsx
Due: build-frontend, deploy-frontend-to-staging

Switches to all kebab-case file naming
  api/tslint.json
  app/src/components/audio-player.tsx
  app/src/components/gift-part-wrapper.tsx
  app/src/components/gift-parts-manager.tsx
  app/src/components/gift-pile.tsx
  app/src/components/overlay.tsx
  app/src/components/panel-manager.tsx
  app/src/components/panel-prompt.tsx
  app/src/components/panel-text.tsx
  app/src/components/panel-title.tsx
  app/src/components/panel.tsx
  app/src/components/progress-bar.tsx
  app/src/components/screen-header.tsx
  app/src/components/screen-logo.tsx
  app/src/components/screen-manager.tsx
  app/src/components/screen-sub-title.tsx
  app/src/components/screen-title.tsx
  app/src/index.tsx
  app/src/screens/create-gift.tsx
  app/src/screens/home.tsx
  app/src/screens/receive-gift.tsx
  app/src/service-worker.ts
  app/stories/index.tsx
  app/tslint.json
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend

Adds basic routing capability
  app/package.json
  app/src/App.tsx
  app/yarn.lock
Due: build-frontend, deploy-frontend-to-staging

Does a little refactoring
  app/src/App.tsx
  app/src/index.html
  app/src/index.tsx
  app/src/main.tsx
  app/src/screens/home.tsx
  app/src/screens/not-found.tsx
  app/src/screens/receive-gift.tsx
  app/src/screens/under-construction.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds appropriate CORS headers to API
  api/example.env
  api/package.json
  api/src/api/index.ts
  api/src/config.ts
  api/src/main.ts
  api/test/index.ts
  api/yarn.lock
  deployment/docker-stack-staging.yaml
Due: build-backend, lint-backend, test-backend, release-backend

wip
  app/src/screens/receive-gift.tsx
  app/src/services/api.ts
  app/src/services/index.ts
Due: build-frontend, deploy-frontend-to-staging

Cleans up stuff rebased onto master
  app/src/main.tsx
  app/src/screens/create-gift.tsx
  app/src/screens/home.tsx
  app/src/screens/receive-gift-wip.tsx
  app/src/screens/receive-gift.tsx
  app/src/services/api.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixed gift part wrapper disappearing
  app/src/components/gift-part-wrapper.tsx
Due: build-frontend, deploy-frontend-to-staging

Header wip
  app/src/components/gift-parts-manager.tsx
  app/src/components/screen-header.tsx
  app/src/components/screen-logo.tsx
  app/src/components/screen-sub-title.tsx
  app/src/components/screen-title.tsx
  app/src/screens/receive-gift.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Image swap
  app/src/assets/test.jpg
  app/src/assets/test.png
  app/stories/fixtures.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Screen manager wip
  app/src/components/screen-manager.tsx
Due: build-frontend, deploy-frontend-to-staging

Receiving wip
  app/src/assets/svg/down-chev-white.svg
  app/src/components/audio-player.tsx
  app/src/components/buttons.tsx
  app/src/components/gift-part-wrapper.tsx
  app/src/components/panel-manager.tsx
  app/src/components/panel-text.tsx
  app/src/components/panel.tsx
  app/src/components/progress-bar.tsx
  app/src/screens/receive-gift.tsx
  app/src/themes/global.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Component improvements
  app/src/assets/test.jpg
  app/src/components/audio-player.tsx
  app/src/components/gift-parts-manager.tsx
  app/src/components/panel-prompt.tsx
  app/src/components/panel-round.tsx
Due: build-frontend, deploy-frontend-to-staging

Audio updates
  app/src/assets/audio/_1-second-of-silence.mp3
  app/src/assets/audio/_2-seconds-of-silence.mp3
  app/src/components/gift-part-wrapper.tsx
Due: build-frontend, deploy-frontend-to-staging

Receiving wip
  app/src/components/audio-player.tsx
  app/src/components/panel-manager.tsx
  app/src/components/panel.tsx
  app/src/components/receiving/choose-location.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/gift-parts-manager.tsx
  app/src/components/receiving/intro-content.tsx
  app/src/components/receiving/receiving-part-1.tsx
  app/src/components/receiving/receiving-part-2.tsx
  app/src/components/receiving/receiving-part-3.tsx
  app/src/components/receiving/test.tsx
  app/src/screens/receive-gift.tsx
  app/src/themes/global.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

fix
  app/src/components/audio-player.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds a bit of doc
  README.org
  docs/milestones.org
  docs/schema.ts
Due: none

Update specs.org
  docs/specs.org
Due: none

Storybook improvements
  app/src/components/receiving/intro-content.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Update milestones.org
  docs/milestones.org
Due: none

Audioplayer responsive improvements
  app/src/components/audio-player.tsx
  app/src/components/receiving/intro-content.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Update schema.ts
  docs/schema.ts
Due: none

Removes background image from audio player in storybook example
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging
