Repository gutierrpdev/gift-plus-plus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Path conditions:
  build-frontend: any of: .gitlab-ci.yml, app/**/*, common/**/*
  deploy-frontend-to-staging: any of: .gitlab-ci.yml, app/**/*, common/**/*
  build-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  lint-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  test-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  release-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  deploy-backend-to-staging: any of: .gitlab-ci.yml, api/**/*, common/**/*

Updates home page text
  app/src/components/home/home-gifts.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes todo
  app/src/components/receiving/panels/intro-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes unused state
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates receive content to jump straight to reveal when not at the museum Also removes unused handleAudioPlaybackStarted
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes unused console.log
  app/src/components/media/audio-player.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds continue button to the receive part full image reveal
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds basic event model + bus
  api/migrations/201905291919-event.ts
  api/src/lib/bus.ts
  api/src/lib/index.ts
  api/src/lib/services/event.ts
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds app-event endpoint to persists app events...
  api/src/api/routes/event.ts
  api/src/api/routes/index.ts
  api/test/api.event.ts
  api/test/api.health.ts
  common/api-schema.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Updates intro wording
  app/src/components/choose-location.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes Photo Capture 2nd button click Updates PhotoCapture to pure component to allow method call
  app/src/components/creating/part-content.tsx
  app/src/components/media/photo-capture.tsx
Due: build-frontend, deploy-frontend-to-staging

Bumps dependencies
  api/package.json
  api/src/lib/services/gift.ts
  api/yarn.lock
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Updates api-client to allow submitting of events.
  api/src/api/routes/event.ts
  api/test/api.event.ts
  app/src/services/api.ts
  app/stories/index.tsx
  common/api-schema.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Bumps typescript version for app
  app/package.json
  app/src/utils/use-audio-recorder.ts
  app/yarn.lock
Due: build-frontend, deploy-frontend-to-staging

Removes outdating event tracking from audio player
  app/src/components/creating/choose-recipient.tsx
  app/src/components/creating/create-gift.tsx
  app/src/components/creating/outro.tsx
  app/src/components/creating/part-content.tsx
  app/src/components/creating/record-and-playback.tsx
  app/src/components/media/audio-player.tsx
  app/src/components/receiving/panels/intro-content.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/receiving/receive-reply.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes issue with callback in render causing iPhone X gift to not open
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds core events to API
  api/src/lib/index.ts
  api/src/lib/services/event.ts
  api/src/lib/services/gift.ts
  api/src/lib/services/storage.ts
  api/src/lib/services/transcode.ts
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds Continue button to home intro accept
  app/src/components/home/home-intro-1.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates receiving part, full image reveal to wait 3 seconds if not at museum Adds WaitThenShow component
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/utils/wait-then.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes issue with error dialogs being double rounded
  app/src/components/creating/save-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates milestones
  docs/milestones.org
Due: none

Temporarily adds some media device info to storybook
  app/stories/index.tsx
  app/stories/temp-media-devices.tsx
Due: build-frontend, deploy-frontend-to-staging

Improves receiving part content, converting status number index to readable string type
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Tidies up refactor
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates receiving content to add second preview circle
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates default gift text
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

Updates receiving part text
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes concept of recipient greeting from data structures
  api/migrations/20190210172822-gift.ts
  api/postgres-schema/01-core.sql
  api/src/api/routes/gift.ts
  api/src/lib/services/gift.ts
  api/test/api.gift.ts
  app/src/domain.ts
  app/src/services/gift-saver.ts
  app/src/services/prepared-data.ts
  app/stories/fixtures.ts
  common/api-schema.ts
  docs/schema.ts
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Updates survey monkey link
  app/src/components/home/menu.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates Brighton Museum entry URL
  app/src/main.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes defunct recipientGreeting from the UI
  app/src/components/creating/create-gift.tsx
  app/src/screens/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds Create Gift screen to the end of the homepage sequence
  app/src/components/home/home-create-gift.tsx
  app/src/screens/home.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds audio check to creating gift part 1
  app/src/components/creating/create-gift.tsx
  app/src/components/creating/part-content.tsx
  app/src/components/screen-header.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds basic event submitter thingy
  app/src/components/creating/save-gift.tsx
  app/src/services/api.ts
  app/src/services/events/index.ts
  app/src/services/index.ts
Due: build-frontend, deploy-frontend-to-staging

Bumps API version for re-deploy
  api/package.json
Due: build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds context and refactors event stuff
  app/src/domain.ts
  app/src/services/events/index.ts
  app/src/services/events/store.ts
  app/src/services/events/submitter.ts
  app/src/services/index.ts
Due: build-frontend, deploy-frontend-to-staging

Updates audio recording to prompt for playback check
  app/src/components/creating/part-content.tsx
  app/src/components/creating/record-and-playback.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Does some event refactoring and adds home events
  app/src/components/choose-location.tsx
  app/src/components/home/home-create-gift.tsx
  app/src/components/home/home-gifts.tsx
  app/src/components/home/home-intro-1.tsx
  app/src/components/home/home-new-gift.tsx
  app/src/domain.ts
  app/src/main.tsx
  app/src/screens/home.tsx
  app/src/services/events/definitions.ts
  app/src/services/events/index.ts
  app/src/services/events/submitter.ts
  app/src/utils/local.ts
Due: build-frontend, deploy-frontend-to-staging

Urgh... un-refactors events and adds some tracking
  app/src/components/choose-location.tsx
  app/src/components/home/home-create-gift.tsx
  app/src/components/home/home-gifts.tsx
  app/src/components/home/home-intro-1.tsx
  app/src/components/home/home-new-gift.tsx
  app/src/components/modals/terms-modal.tsx
  app/src/components/receiving/open-gift.tsx
  app/src/components/receiving/receive-gift.tsx
  app/src/event-definitions.ts
  app/src/main.tsx
  app/src/screens/home.tsx
  app/src/services/events/definitions.ts
  app/src/services/events/index.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Adds some more events, going off-piste
  app/src/components/creating/create-gift.tsx
  app/src/event-definitions.ts
Due: build-frontend, deploy-frontend-to-staging

Does more event tracking...
  app/src/components/creating/create-gift.tsx
  app/src/components/creating/save-gift.tsx
  app/src/components/creating/share-gift.tsx
  app/src/event-definitions.ts
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging
