Repository gutierrpdev/gift-plus-plus: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Path conditions:
  build-frontend: any of: .gitlab-ci.yml, app/**/*, common/**/*
  deploy-frontend-to-staging: any of: .gitlab-ci.yml, app/**/*, common/**/*
  build-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  lint-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  test-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  release-backend: any of: .gitlab-ci.yml, api/**/*, common/**/*
  deploy-backend-to-staging: any of: .gitlab-ci.yml, api/**/*, common/**/*

Updates Munch curated gift
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

Updates open graph image
  app/src/index.html
  app/src/public/images/open-graph/open-graph-global.jpg
  app/src/public/images/open-graph/open-graph-plain.png
Due: build-frontend, deploy-frontend-to-staging

Update help-munch.tsx
  app/src/components/information/help/help-munch.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes incorrect museum name
  app/src/screens/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Update terms-brighton.tsx
  app/src/components/information/terms/terms-brighton.tsx
Due: build-frontend, deploy-frontend-to-staging

Update terms-munch.tsx
  app/src/components/information/terms/terms-munch.tsx
Due: build-frontend, deploy-frontend-to-staging

[BUGFIX] Adds polyfill for Object.entries
  app/src/polyfills.ts
Due: build-frontend, deploy-frontend-to-staging

Update c-let-them-know-part-2-munch.tsx
  app/src/components/audio-transcription/c-let-them-know-part-2/c-let-them-know-part-2-munch.tsx
Due: build-frontend, deploy-frontend-to-staging

Update r-intro-content-local-personal-munch.tsx
  app/src/components/audio-transcription/r-intro-content-local-personal/r-intro-content-local-personal-munch.tsx
Due: build-frontend, deploy-frontend-to-staging

Update r-intro-content-remote-personal-munch.tsx
  app/src/components/audio-transcription/r-intro-content-remote-personal/r-intro-content-remote-personal-munch.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates text for first object on single part gift
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates text to prompt for opening of gift
  app/src/components/receiving/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates app audio for Munch
  app/src/assets/audio/munch/r-intro-content-local-personal.m4a
  app/src/assets/audio/munch/r-intro-content-remote-personal.m4a
Due: build-frontend, deploy-frontend-to-staging

Updates Munch BG image
  app/src/assets/image/bg-munch.jpg
Due: build-frontend, deploy-frontend-to-staging

Updates Munch gift audio
  app/src/services/prepared-data.ts
Due: build-frontend, deploy-frontend-to-staging

Fixes bug with transparent header background when opening gift
  app/src/components/receiving/receive-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates visitor location on home screen
  app/src/screens/home.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes issue with share icon cutoff
  app/src/components/creating/share-gift.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates content to remove line breaks
  app/src/components/receiving/panels/part-content.tsx
Due: build-frontend, deploy-frontend-to-staging

Makes www.thegift.app => thegift.app via proxy redirect
  deployment/docker-stack-production.yaml
Due: none

Fixes issues where museum.id was not correctly passed to CreateGift
  app/src/components/creating/create-gift.tsx
  app/src/screens/create-gift.tsx
  app/stories/index.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes issue where failed audio recording does not allow playback to start and therefore user cannot review then re-record
  app/src/components/creating/record-and-playback.tsx
Due: build-frontend, deploy-frontend-to-staging

Fixes comment typo
  app/src/components/media/audio-player.tsx
Due: build-frontend, deploy-frontend-to-staging

Updates Munch museum promo QR link
  app/src/data.ts
Due: build-frontend, deploy-frontend-to-staging

Adds promoDestination to museum object to allow Munch QR code to land at root
  api/.dockerignore
  app/.dockerignore
  app/src/data.ts
  app/src/domain.ts
  app/src/main.tsx
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Re-adds accidentally clobbered symlinks
  api/.dockerignore
  app/.dockerignore
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Adds nix config to help with local dev
  shell.nix
Due: none

Bumps node to v12 (current lts)
  api/Dockerfile
  api/README.md
  app/Dockerfile
  shell.nix
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Upgrades to full node docker image for build stability
  app/.gitignore
  app/Dockerfile
Due: build-frontend, deploy-frontend-to-staging

Bumps CI to rebuild everything
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend-to-staging, build-backend, lint-backend, test-backend, release-backend, deploy-backend-to-staging

Corrects deployment thegift.app redirect rule
  deployment/docker-stack-production.yaml
Due: none

Skips displaying curated museum gift on home screen for demo museum
  app/src/data.ts
  app/src/domain.ts
  app/src/screens/home.tsx
Due: build-frontend, deploy-frontend-to-staging

Removes some stale info
  docs/routes.org
  docs/schema.ts
Due: none

Bumps all app packages
  app/yarn.lock
Due: build-frontend, deploy-frontend-to-staging

Fixes linting to match new tslint-react version
  app/src/components/creating/choose-recipient.tsx
  app/src/components/creating/create-gift.tsx
  app/src/components/creating/part-content.tsx
  app/src/components/creating/record-and-playback.tsx
  app/src/components/creating/sign-gift.tsx
  app/src/components/home/home-gifts.tsx
  app/src/components/media/audio-player.tsx
  app/src/components/media/audio-transcription.tsx
  app/src/components/messages/unsupported-device.tsx
  app/src/components/modals/working-modal.tsx
  app/src/components/progress-loader.tsx
  app/src/components/receiving/gift-part-wrapper.tsx
  app/src/components/receiving/panels/part-content.tsx
  app/src/components/receiving/receive-gift.tsx
  app/src/components/receiving/receive-reply.tsx
  app/src/components/screen-header.tsx
  app/src/screens/home.tsx
Due: build-frontend, deploy-frontend-to-staging

[#211] Updates html background colour to #333
  app/src/themes/global.ts
Due: build-frontend, deploy-frontend-to-staging

Cleans up some data
  app/src/components/information/help/help-brighton.tsx
  app/src/components/information/help/help-demo.tsx
  app/src/components/information/help/help-munch.tsx
  app/src/data.ts
Due: build-frontend, deploy-frontend-to-staging
